customselect {
  display: block;
  background-color: DodgerBlue;
  color: white;
  margin: 3px;
  width: auto;
  width: 250px;
}

xselect {
  display: block;
  font-size: 1em;
  padding: 10px;
}

xlabel {
  display: inline-block;
  width: 80%;
}

arrow {
  width: 10%;
  float:right;
}

description {
  font-style: italic;
  font-size: 0.75em;
}

options {
  font-size: 1em;
  background-color:inherit;
  width: inherit;
  position: absolute;
}

opt {
  border-top: 0.5px solid white;
  padding: 10px;
}

opt:hover {
  background-color: #00BFFF;
}

value{
  display: inline-block;
  float:left;
  width: 25%, auto;
  padding-right: 5px;

}

description {
  display: inline-block;
  min-width: auto;
}


input {
  display: block;
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin-left: 5px;
  background-color: DodgerBlue;
  color: white;
  font-size: 1em;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #abbbd3;
  font-style: italic;
}
